xml-resources/web-service-references/WSREPORTERIAFV/wsdl/localhost_8080/WSREPORTERIAFERIAVIRTUAL/WSREPORTERIAFV.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SW/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SW/" name="WSREPORTERIAFV">
<types>
<xsd:schema>
<xsd:import namespace="http://SW/" schemaLocation="http://localhost:8080/WSREPORTERIAFERIAVIRTUAL/WSREPORTERIAFV?xsd=1"/>
</xsd:schema>
</types>
<message name="reporteDetallePedidos">
<part name="parameters" element="tns:reporteDetallePedidos"/>
</message>
<message name="reporteDetallePedidosResponse">
<part name="parameters" element="tns:reporteDetallePedidosResponse"/>
</message>
<message name="reportePedidosOK_1">
<part name="parameters" element="tns:reportePedidosOK_1"/>
</message>
<message name="reportePedidosOK_1Response">
<part name="parameters" element="tns:reportePedidosOK_1Response"/>
</message>
<message name="reportePedidosOK_3">
<part name="parameters" element="tns:reportePedidosOK_3"/>
</message>
<message name="reportePedidosOK_3Response">
<part name="parameters" element="tns:reportePedidosOK_3Response"/>
</message>
<message name="reporteDetallePedidosxAnio">
<part name="parameters" element="tns:reporteDetallePedidosxAnio"/>
</message>
<message name="reporteDetallePedidosxAnioResponse">
<part name="parameters" element="tns:reporteDetallePedidosxAnioResponse"/>
</message>
<message name="reportePedidosCancelados_1">
<part name="parameters" element="tns:reportePedidosCancelados_1"/>
</message>
<message name="reportePedidosCancelados_1Response">
<part name="parameters" element="tns:reportePedidosCancelados_1Response"/>
</message>
<message name="reportePedidosOK_2">
<part name="parameters" element="tns:reportePedidosOK_2"/>
</message>
<message name="reportePedidosOK_2Response">
<part name="parameters" element="tns:reportePedidosOK_2Response"/>
</message>
<message name="reportePedidosCancelados_2">
<part name="parameters" element="tns:reportePedidosCancelados_2"/>
</message>
<message name="reportePedidosCancelados_2Response">
<part name="parameters" element="tns:reportePedidosCancelados_2Response"/>
</message>
<message name="reportePedidosCancelados_3">
<part name="parameters" element="tns:reportePedidosCancelados_3"/>
</message>
<message name="reportePedidosCancelados_3Response">
<part name="parameters" element="tns:reportePedidosCancelados_3Response"/>
</message>
<portType name="WSFV">
<operation name="reporteDetallePedidos">
<input wsam:Action="http://SW/WSFV/reporteDetallePedidosRequest" message="tns:reporteDetallePedidos"/>
<output wsam:Action="http://SW/WSFV/reporteDetallePedidosResponse" message="tns:reporteDetallePedidosResponse"/>
</operation>
<operation name="reportePedidosOK_1">
<input wsam:Action="http://SW/WSFV/reportePedidosOK_1Request" message="tns:reportePedidosOK_1"/>
<output wsam:Action="http://SW/WSFV/reportePedidosOK_1Response" message="tns:reportePedidosOK_1Response"/>
</operation>
<operation name="reportePedidosOK_3">
<input wsam:Action="http://SW/WSFV/reportePedidosOK_3Request" message="tns:reportePedidosOK_3"/>
<output wsam:Action="http://SW/WSFV/reportePedidosOK_3Response" message="tns:reportePedidosOK_3Response"/>
</operation>
<operation name="reporteDetallePedidosxAnio">
<input wsam:Action="http://SW/WSFV/reporteDetallePedidosxAnioRequest" message="tns:reporteDetallePedidosxAnio"/>
<output wsam:Action="http://SW/WSFV/reporteDetallePedidosxAnioResponse" message="tns:reporteDetallePedidosxAnioResponse"/>
</operation>
<operation name="reportePedidosCancelados_1">
<input wsam:Action="http://SW/WSFV/reportePedidosCancelados_1Request" message="tns:reportePedidosCancelados_1"/>
<output wsam:Action="http://SW/WSFV/reportePedidosCancelados_1Response" message="tns:reportePedidosCancelados_1Response"/>
</operation>
<operation name="reportePedidosOK_2">
<input wsam:Action="http://SW/WSFV/reportePedidosOK_2Request" message="tns:reportePedidosOK_2"/>
<output wsam:Action="http://SW/WSFV/reportePedidosOK_2Response" message="tns:reportePedidosOK_2Response"/>
</operation>
<operation name="reportePedidosCancelados_2">
<input wsam:Action="http://SW/WSFV/reportePedidosCancelados_2Request" message="tns:reportePedidosCancelados_2"/>
<output wsam:Action="http://SW/WSFV/reportePedidosCancelados_2Response" message="tns:reportePedidosCancelados_2Response"/>
</operation>
<operation name="reportePedidosCancelados_3">
<input wsam:Action="http://SW/WSFV/reportePedidosCancelados_3Request" message="tns:reportePedidosCancelados_3"/>
<output wsam:Action="http://SW/WSFV/reportePedidosCancelados_3Response" message="tns:reportePedidosCancelados_3Response"/>
</operation>
</portType>
<binding name="WSFVPortBinding" type="tns:WSFV">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reporteDetallePedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportePedidosOK_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportePedidosOK_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reporteDetallePedidosxAnio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportePedidosCancelados_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportePedidosOK_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportePedidosCancelados_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportePedidosCancelados_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSREPORTERIAFV">
<port name="WSFVPort" binding="tns:WSFVPortBinding">
<soap:address location="http://localhost:8080/WSREPORTERIAFERIAVIRTUAL/WSREPORTERIAFV"/>
</port>
</service>
</definitions>